@{
    ViewData["Home"] = "Index";
}
<div>
<h1>CATALOGO DE DISCOS</h1>
 <link rel="stylesheet" href="~/css/site.css" />
 @foreach(int id in ViewBag.Discos.Keys)
 {
<img  src = "@ViewBag.Discos[id].foto"  alt = "Foto Discos" class = "Foto-Discos"/>
<h2>Nombre: @ViewBag.Discos[id].Nombre </h2>   
<h3>Artista: @ViewBag.Discos[id].artista</h3>    
<h3>Productora: @ViewBag.Discos[id].productor </h3>
<h3>genero: @ViewBag.Discos[id].genero</h3>        
<h4><a href = '@Url.Action("ElegirDisco","Home", new {id = id})'>Ver Disco Completo</a></h4>
 }

</div>
</div>
<footer>
    <div class="footer">
    <p>  La Banda del Morgan. Todos los derechos reservados.</p>
    </div> 
</footer>   